@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
header,
.announcements {
  text-align: center;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 85% 85% / 30%;
  background: url(https://images.pexels.com/photos/129731/pexels-photo-129731.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)
    no-repeat center center/cover;
  margin-bottom: 0.9rem;
}
header .overlay,
section .overlay {
  width: 100%;
  height: 100%;
  padding: 50px;
  color: #fff;
  background-image: linear-gradient(135deg, #9f05ff69 10%, #fd5e086b 100%);
}
header h1,
section h1 {
  font-family: "Nunito", sans-serif;
  font-size: 80px;
  margin-bottom: 30px;
  font-weight: 700;
}
span {
  background-color: black;
}
.announce {
  background: url("https://images.pexels.com/photos/3255761/pexels-photo-3255761.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500")
    no-repeat center center/cover;
}
.announce .row .card {
  border: 4px solid #309df0;
  font-family: "Nunito", sans-serif;
  transition: all 500ms;
  border-radius: 20px;
  margin: auto;
  background-color: #ffffff !important;
  box-shadow: 10px 10px 1px #309df0;
}
.announce .row .card a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.announce .row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.announce .row .card:hover {
  transform: scale(1.07);
  z-index: 9;
  background-color: #309df0 !important;
  color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
.announce .row .card:hover a {
  color: white;
  transition: 0s;
}
.announce .row .card .card-header strong {
  font-weight: 800 !important;
  font-size: 1.8rem;
}
.postcard__bar {
  width: 50px;
  height: 5px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.5s ease;
  margin: auto;
}
.announce .row .card:hover .postcard__bar {
  width: 50%;
}
.fix {
  width: 100%;
  height: 35rem;
  background: url("https://images.pexels.com/photos/220326/pexels-photo-220326.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
    no-repeat center center/cover;
  background-attachment: fixed;
  z-index: -1;
}
.btn {
  border-radius: 50% !important;
}
.scroll-top {
  width: 72px;
  height: 70px;
  border-radius: 50%;
  position: fixed;
  bottom: 3%;
  right: 2%;
  z-index: 10;
}
footer {
  background: #393e41;
  height: 25vh;
  position: relative;
}
footer h4 {
  font-family: "Nunito", sans-serif;
  color: white;
  font-weight: 600;
  position: absolute;
  top: 70%;
  left: 40%;
}
