<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <!-- <a class="navbar-brand" href="/">HOME</a> -->
    <button
      class="navbar-toggler btn-light"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active text-white" href="/"
          >HOME<span class="sr-only">(current)</span></a
        >
      </div>
        <!-- <a class="nav-item nav-link active" href="/login_faculty">FACULTY_LOGIN</a>
          <a class="nav-item nav-link" href="/login_student">STUDENT_LOGIN</a>
          <a class="nav-item nav-link" href="/register_faculty">FACULTY_REGISTER</a>
          <a class="nav-item nav-link disabled" href="/register_student">STUDENT_REGISTER</a>
          <a class="nav-item nav-link disabled" href="/student_view">STUDENT_VIEW</a> -->
          <div class="navbar-nav">
        <a
          class="nav-item nav-link active text-white"
          style="color: black;"
          href="/logout"
          >LOGOUT</a
        >
      </div>
    </div>
  </nav>


    <h1 style="text-align: center;">Announcement Form</h1>
    <div style="width: 70%; margin-left: auto; margin-right: auto;">
    <form action='/addannouncement' method="POST">
        <div class="form-group">
          <label for="announcement" class="form-label">Announcement</label>
          <input type="input" class="form-control" id="announcement" name="announcement" aria-describedby="emailHelp" placeholder="Enter Announcement">
        </div>
        <h1>Select Related branches</h1>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" name="CSE" id="CSE">
          <label class="form-check-label" for="CSE">CSE</label>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" name="ECE" id="ECE">
          <label class="form-check-label" for="ECE">ECE</label>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" name="EEE" id="EEE">
          <label class="form-check-label" for="EEE">EEE</label>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" name="MECH" id="MECH">
          <label class="form-check-label" for="MECH">MECH</label>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" name="CHEM" id="CHEM">
          <label class="form-check-label" for="CHEM">CHEM</label>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" name="CIVIL" id="CIVIL">
          <label class="form-check-label" for="CIVIL">CIVIL</label>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" name="MME" id="MME">
          <label class="form-check-label" for="MME">MME</label>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" name="BIO" id="BIO">
          <label class="form-check-label" for="BIO">BIO</label>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" name="ALL" id="ALL">
          <label class="form-check-label" for="ALL">ALL Branches</label>
        </div>
        <button type="submit" class="btn btn-block btn-lg btn-primary">Submit</button>
      </form>
    </div>
</body>
</html>