@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background: url("https://images.pexels.com/photos/2078266/pexels-photo-2078266.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500")
    no-repeat center center/cover;
}
img {
  display: none;
}
.head {
  font-family: "Nunito", sans-serif !important;
  margin-top: 4%;
  text-align: center;
}
.head h1 {
  font-weight: 800;
  color: white;
}
.head hr {
  border-top: 2px solid white;
  color: white;
}
.second {
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
  font-family: "Nunito", sans-serif !important;
  height: 25rem;
}
.second .text-center img {
  border: 2px solid #28a745;
  margin-top: 2rem;
}
.zigzag .inc .dec {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fix {
  width: 50%;
  background: url("https://images.pexels.com/photos/207691/pexels-photo-207691.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500")
    no-repeat center center/cover;
}
.sub button {
  font-weight: 700;
  font-size: 1rem;
  height: 2.5rem;
  width: 5rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s all;
  margin-left: 18%;
  border: none;
}
